package layout

func EntryFormToggle(recent bool) bool {
    if recent {
        return false
    }
    return true
}

templ EntryForm(){
    <form id="entry-form" hx-post="/post_card" hx-target="#card-display-list" hx-swap="afterbegin">
        <label for="title">Title:</label>
        <input type="text" name="title"/>

        <label for="content">Your entry:</label>
        <textarea name="content"/>

        <button type="submit">Save entry</button>
    </form>
}
