body {
    color: #F5F5F5;
    background-color: #171717;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    font-family: sans-serif;
}

form {
    display: grid;
    border: 1px solid #353535;
    padding: 2px;
}

.form-element {
    border-bottom: 1px solid #353535;
}

ul {
    list-style-type: none;
}

input[type="text"], textarea {
    background-color: #092635;
    border: 1px solid #171717;
    color: #F5F5F5;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
    border: 4px double #353535;
    border-radius: 3px;
    padding: 5px;
}

footer {
    border-top: 1px solid #353535;
    padding: 20px;
    margin-top: 100px;
}

.add-entry{
    width: 100%;
    font-size: larger;
    padding: 2px;
    background-color:#092635;
    color: #f5f5f5;
    border: 3px solid #F5F5F5;
    border-radius: 4px;
}